@import "normalize";

body {
  font-family: 'Rubik', sans-serif;
  line-height: 170%;

  code {
    display: inline-block;
    letter-spacing: 1px;
    background-color: #F0F0F0;
    font-family: "Comic Sans MS";
    background: -webkit-linear-gradient(#f4b642, #f441d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#employees {
  padding: 30px 50px 0px;
}

/* Código de la tabla aquí */

$gray-color: #f4f4f4;
$hover-color: #d8e6d7a3;
$border-color: #dee2e6;
$error-color: #ff3637b0;

.container-input {
  position:relative;
  .suffix-icon {
    position: absolute;
    right: 25px;
    top: 8px;
    color: #cacaca;
  }
}
.input {
  &--search {
    line-height: 35px;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid #cacaca;
    width: 400px;
    padding: 0px 5px;
    font-size: 14px;
  }
}

.button {
  padding: 10px 30px;
  background-color: #67ad79;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 20px 20px 20px 0px;

  &--add {
    background-color: #355c84;
  }

  &--currency {
  margin: 20px 0px 20px 20px;
  }
}

.filter-currency, .currency {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.currency {
  justify-content: flex-end;
  width: 350px;
}


.table {
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;

  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;

    &:nth-child(2n) {
      background-color: $gray-color;
    }

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
    }

    &--header {
      &:hover {
        cursor: initial;
        background-color: transparent;
      }

      p {
        text-align: center;
        font-weight: 600;
      }
    }

    &__input, &__text {
      width: calc(100% - 14px);
      margin: 0px;
      line-height: 2;

      &--error {
        color: $error-color;
        font-weight: 600;
      }
    }

    &__input {
      padding: 4px 5px;
      border: none;
      font-size: 14px;
      background-color: transparent;
      border-top: 1px solid #adc5fd;
      border-right: 1px solid #adc5fd;

      &[disabled] {
        color: #c7c7c7;
        background-color: transparent;
      }
    }

    &__text {
      display: inline-block;
      padding: 4px 5px;
      font-family: Arial;
      font-size: 14px;
      text-align: start;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      border-right: 1px solid $border-color;
      border-top: 1px solid $border-color;
    }
  }
}

//styles to custom columns
.salary {
  font-family: monospace;
  text-align: right;
}
.phone, .age, .email {
  text-align: center;
}
