@import 'normalize';

body {
  font-family: 'Rubik', sans-serif;
  line-height: 170%;

  code {
    display: inline-block;
    letter-spacing: 1px;
    background-color: #F0F0F0;
    font-family: "Comic Sans MS";
    background: -webkit-linear-gradient(#f4b642, #f441d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Código de la tabla aquí */

.table {
  &__row {
    width: 100%;
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    &:nth-child(2n) {
      background-color: rgba(0,0,0,.1);
    }
    &:hover {
      cursor: pointer;
        background-color: rgba(0,0,0,.2);
      }
    &--error {
      background-color: red;
    }

  }

  &__input {

  }
}

//styles to custom columns 
.salary {
  font-family: monospace;
  text-align: right;
}
