@import "normalize";

body {
  font-family: 'Rubik', sans-serif;
  line-height: 170%;

  code {
    display: inline-block;
    letter-spacing: 1px;
    background-color: #F0F0F0;
    font-family: "Comic Sans MS";
    background: -webkit-linear-gradient(#f4b642, #f441d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Código de la tabla aquí */

.table {
  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 0px;

    &:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &--error, &--error:nth-child(2n), &--error:hover {
      background-color: rgba(255, 0, 0, 0.4);
    }

    &__input {
      width: calc(100% - 14px);
      margin: 0 2px;
      padding: 0px 4px;
      border: none;
      font-size: 14px;
      background-color: rgba(0, 255, 255, 0.08);
      border: 1px solid rgba(0, 255, 255, 0.2);
      &[disabled] {
        background-color: rgba(0, 0, 0, 0.05);
        border-color: transparent;
      }
    }

    &__text {
      width: calc(100% - 14px);
      margin: 0px 2px;
      display: inline-block;
      padding: 1px 5px;
      font-family: Arial;
      font-size: 14px;
      text-align: start;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      line-height: 1.2;
    }
  }
}

//styles to custom columns
.salary {
  font-family: monospace;
  text-align: right;
}
